<img src="@imgUrl" alt= "NASA Apod"/>
<p> <a href="@hdUrl"> HD Url </a></p>
<p>CopyRight : @copyright</p>

@code{

    [Parameter]
    public string imgUrl {get; set;}

    [Parameter]
    public string hdUrl {get; set;}

    [Parameter]
    public string copyright {get; set;}

}